.top-offset {
    margin-top: 10vh;
}

.containter-border {
    border-style: solid;
    border-width: 0px;
    border-radius: 3px;
    box-shadow: 0px 0px 10px 1px dimgrey;
}

.rounded-border {
    border-style: solid;
    border-width: 0px;
    border-radius: 3px;
    padding: 3px;
    box-shadow: 0px 0px 10px 0px lightblue;
}

input {
    font-family: monospace;
}

pre {
    background-color: transparent;
    border-style: none;
    border-width: 0px;
    font-size: 1em;
}

.linenos {
    background-color: rgba(0,0,0, 0.1);
    border-style: none;
    border-width: 0px;
    font-weight: bold;
}

.borders {
    border-style: solid;
    border-width: 1px;
    border-color: aqua;
    border-radius: 3px;
}

.expand {
    padding: 10%;
    height: 75vh;
    width: 90vw;
}

.overlay {
    position: absolute;
    top: 20vh;
}

#background {
    z-index: 1;
    background-color: white;
}

#caret {
    z-index: 2;
    color: rgba(250,80,150, 0.5);
    white-space: pre;
}

#text {
    margin-left: 2.9vw;
    margin-top: 9px;
    z-index: 3;
    color: rgba(0,0,0,0);
    background-color: rgba(0,0,0,0);
    outline: 0;
    border: 0;
}

.text-padding {
    padding: 0px;
    font-family: monospace;
}

.code {
    height: 75vh;
    font-family: monospace;
}

td {
    vertical-align: top;
}

.text-coincide {
    padding-left: 3.6vw;
    padding-top: 3.5vh;
}
